{
  "root": true,
  "extends": "@giveerr/eslint-config",
  "overrides": [
    {
      "files": ["./*.js", "./packages/*/*.js"],
      "extends": ["@giveerr/eslint-config-prettier-javascript"]
    },
    {
      "files": ["packages/**/*.ts"],
      "extends": "@giveerr/eslint-config-prettier-typescript"
    }
  ]
}
